@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    animation: allFadeIn 0.5s ease-in;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    height: 100%; 
}

a {
    text-decoration: none; 
}

/* buttons */
.btn {
    display: inline-block;
    width: 40%;
    text-align: center;
    padding: 18px 12px;
    border-radius: 36px;
    background-color: #00d1d2; 
    color: #34303d;
    font-weight: 600; 
    transition: 0.5s;
}

.btn:hover {
    background-color: #34303d;
    color: #00d1d2; 
}
/* buttons end */


/* header */
.header {
    width: 100%;
    height: 400px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 12%;
    background: url('../img/headerpic.png');
    background-size: cover;
    background-position: center; 
}

.inner-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.avatar-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid #34303d; 
    box-shadow: 6px 8px 18px rgba(0,0,0,0.3); 
    margin-bottom: 24px;  
    overflow: hidden; 
    opacity: 0;
    animation: forwards titleReveal 0.8s ease-in;
    animation-delay: 0.5s; 
}

.header .inner-container h1,
.header .inner-container h2 {
    color: #34303d; 
}

.header .inner-container h1 {
    opacity: 0;
    scale: 0;
    animation: forwards titleReveal 0.8s ease-in;
    animation-delay: 1s; 
}

.header .inner-container h2 {
    font-weight: 400;
    opacity: 0;
    animation: forwards titleReveal 0.8s ease-in;
    animation-delay: 1.5s; 
}
/* header end */


/* links section */
.links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 12%;
    background-color: #fffdfb; 
}

.link-card {
    width: 100%;
    margin: 12px 0px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.link-card p {
    text-align: center;
}

.inner-container-padding {
    padding-top: 24px; 
}

.last-link-margin-bottom {
    margin-bottom: 220px;
}
/* links section end */


/* footer */
footer {
    width: 100%;
    background-color: #34303d; 
    padding: 0px 12%;
}

.footer-row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 12px;
    padding: 12px 0px;
}

.footer-cell {
    flex: 1;
    height: 100%;
}

.footer-cell h3,
.footer-cell h4,
.footer-cell p {
    color:#fffdfb;  
}

.footer-cell h4 span,
.footer-cell p span {
    color: #f8003c;  
}

.footer-title {
    margin-bottom: 24px;
}

.footer-subtitle {
    margin-bottom: 30px; 
}

.footer-cell-2 p {
    text-align: right; 
}
/* footer end */

/* ANIMATIONS */
@keyframes allFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes titleReveal {
    0% {
        opacity: 0;
        scale: 0;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}
/* ANIMATIONS END */

/* MEDIA */
@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {
    .btn {
        width: 90%;
    }
}

@media (max-width: 575.98px) {

    .btn {
        width: 100%;
    }

    .header,
    .links-container,
    footer {
        padding: 0px 6%;
    }

    .footer-row {
        flex-direction: column;
        align-items: flex-start;
    }
}
